extends layout

block content
    .jumbotron
      .container.jumbo
        h1 How May I help You?
        p Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
        a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
    .container
      .row
        .col-md-4
          h2 About US
          p Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
          a.btn.btn-default(href='#') View Details

        .col-md-4
          h2 Services
          p Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
          a.btn.btn-default(href='#') View Details

        .col-md-4
          h2 Contact Us
          p Let us know how we can help you and your business grow
          a.btn.btn-default(href='#') View Details
